@use "../abstract/" as *;
@use "../base/" as *;

*
{
    font-family: $josefinSans;
    margin: 0; padding: 0;
    text-decoration: none;
    transition: .2s all linear;
    border: none; outline: none;
}

html
{
    font-size: $fontSize;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    margin: auto;
    width: 500px;
    background: $veryLightGrayishBlue;

    @include break-point(mobile)
    {
        width: 400px;
    }

    @include break-point(mobile-L)
    {
        width: 300px;
    }
}

header
{
    margin: 2rem 0 .5rem;

    h2
    {
        letter-spacing: .7rem;
        color: $veryDarkGrayishBlue3;
    }
}

#myInput
{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    font-size: 16px;
}

.addBtn 
{
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}  

#myUL
{
    margin-top: 1rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

ul 
{
    margin: 0;
    padding: 0;
}

ul li
{
    position: relative;
    list-style: none;
    padding: 12px 8px 12px 40px;
    background: $veryLightGray;
    color: $veryDarkDesaturatedBlue;
    outline: 1px solid $lightGrayishBlue1;
}

.close
{
    position: absolute;
    top: 0; right: 0;
    padding: 12px 16px 12px 16px;
    cursor: pointer;
}
label
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

label input
{
    position: absolute;
    left: .7rem;
    cursor: pointer;
}

ul label.checked
{
    color: $lightGrayishBlue1;
    text-decoration: line-through;
}

.counter
{
    color: $darkGrayishBlue2;
}

.buttons
{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    font-size: .9rem;
}

#myBtnContainer
{
    display: flex;
    gap: .8rem;

    @include break-point(mobile)
    {
        display: none;
    }
}

#myBtns
{
    display: none;
    @include break-point(mobile)
    {
        font-size: .9rem;
        display: flex;
        justify-content: center;
        gap: .8rem;
        margin-top: 1rem;
    }
}

button
{
    cursor: pointer;
    border: none;
    background: transparent;
    color: $darkGrayishBlue2;

    &:hover
    {
        color: $veryDarkGrayishBlue3;
    }
}

.btn.active
{
    color: $brightBlue;
}

 li.display
{
    display: none;
}

.footer__text
{
    font-size: .9rem;
    color: $darkGrayishBlue2;
    text-align: center;
    margin-top: 5rem;
    display: none;
}